@model AddressBook.Models.Contact
@using AddressBook.Services.Interfaces
@inject IImageService ImageService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />

<div class="glass-cf-style darkGlass p-2">
    <form asp-action="Edit" asp-controller="Contacts" enctype="multipart/form-data">
        <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ImageType" />
            <input type="hidden" asp-for="ImageData"/>

            <div class="col">
                <label asp-for="FirstName" class="form-label"></label>
                <input type="text" class="form-control" asp-for="FirstName"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="LastName" class="form-label"></label>
                <input type="text" class="form-control" asp-for="LastName"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Address1" class="form-label"></label>
                <input class="form-control" asp-for="Address1"/>
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Address2" class="form-label"></label>
                <input class="form-control" asp-for="Address2"/>
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
            <div class="col">
                <label asp-for="City" class="form-label"></label>
                <input type="text" class="form-control" asp-for="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="State" class="form-label"></label>
                <select asp-for="State" asp-items="ViewBag.StatesList" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="ZipCode" class="form-label"></label>
                <input type="text" class="form-control" asp-for="ZipCode" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input type="tel" class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="BirthDate" class="form-label"></label>
                <input type="date" class="form-control" asp-for="BirthDate" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                            onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>                
            </div>
                <div class="form-group">
                    @if (Model.ImageData != null)
                    {
                        <img id="contactImage" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" class="img-fluid img-thumbnail mt-2">
                    }
                    else
                    {
                        <img id="contactImage" class="img-fluid img-thumbnail mt-2" style="width: 120px; height: 120px" src="https://cdn.icon-icons.com/icons2/233/PNG/512/Contacts_26253.png">
                    }
                </div>
            <div class="col col-md-5">
                <label asp-for="Categories" class="control-label"></label>
                <select name="CategoryList" class ="form-control" asp-items="ViewBag.CategoryList" multiple></select>
            </div>
            <div class="col col-md-12 mt-4 mb-2">
                <input type="submit" value="Edit" class="btn glass-button w-100 text-warning fw-bold" />
            </div>
        </div>

    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


@*
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ImageType" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" asp-items="ViewBag.StatesList" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>                
            </div>
            <div class="form-group">
                @if (Model.ImageData != null)
                {
                    <img id="contactImage" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" class="img-fluid img-thumbnail mt-2">
                }
                else
                {
                    <img id="contactImage" class="img-fluid img-thumbnail mt-2" style="width: 120px; height: 120px" src="https://cdn.icon-icons.com/icons2/233/PNG/512/Contacts_26253.png">
                }
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Categories" class="control-label"></label>
                    <select name="CategoryList" asp-items="ViewBag.CategoryList" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@